/* @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900 &display=swap'); */


@font-face {
    font-family: "Montreal";
    src:
    url(content/fonts/PPNeueMontreal-Regular.woff2) format("woff2");
    font-weight: 400;
}
@font-face {
    font-family: "Grotesk";
    src:
    url(content/fonts/PPRightGrotesk-CompactBlack.woff2)
    format("woff2");
    font-weight:900;
}
@font-face {
    font-family: "Mono";
    src: 
    url(content/fonts/PPSupplyMono-Light.woff2)
    format("woff2");
    font-weight: 400;
}
html {
    --primaireKleur: #ff3c00;
    --primaireKleur50: #ff3c0034;
    --secondaireKleur: #f4f0e6;
    --contrastKleur: #161616;
    --wit: #f4f0e6;
    --rondehoek: 0.3em;
    --copy: "Montreal";
    --display: "Grotesk";
    --monotyp: "mono";
    --tsvgKleur:brightness(1) invert(0);
    
    }
    
html.oranje {
    --primaireKleur: #f4f0e6;
    --secondaireKleur:  #ff3c00;
    --primaireKleur50: #f4f0e673;
    --contrast: 1000%;
    --svgKleur:brightness(0) invert(1);
 }   
 
 html.zwart{
    --primaireKleur:     #f4f0e6;
    --primaireKleur50:   #f4f0e673;
    --secondaireKleur:   #161616;
    --svgKleur:brightness(0) invert(1);
 }
 

    
 /* geen verticale scrollbalk */   
 :-webkit-scrollbar {
        display: none;
    }


    * {
        padding: 0;
        margin: 0;
    }

    html {
        max-width: 100%;

    }

    body {
        margin: 0 1em;
        background-color: var(--secondaireKleur);
    }
    


    /* TYPOGRAFIE */

    h3,
    h4,
    p,
    a,
    button {
        color: var(--primaireKleur);
        font-family: var(--copy);
    }
    
    h1,
    h2 {
        color: var(--primaireKleur);
        font-family: var(--display);
        line-height: .8;
        font-weight: 900;
        text-transform: uppercase;
    }

    h1 {
        font-size: 35vw;

    }

    h2 {
        font-size: 17vw;
        margin: 1em 0;
    }

    h3 {
        font-size: 8vw;
        line-height: 1.1;
        font-weight: 200;
    }

    h4 {
        font-family: var(--monotyp);
        font-size: 1em;
        margin: 1.3em 0;
    }

    p {
        font-weight: 300;
        line-height: 1.5;
    }

    .mb {
        margin-bottom: 4em;
    }
    .hidden{
    display: none;}

    /* HEADER */
    header {
        display: flex;
        align-items: center;

        position: fixed;
        left: 0;
        right: 0;

        padding: 0 1em;
        height: 8vh;
        gap: 0.5em;
        border-bottom: 1px solid var(--primaireKleur);
        backdrop-filter: blur(100px);
        z-index: 10;
    }
.st0{
fill: red;}
    .home header a svg, .culture header a svg {
        height: 25px;
        width: 25px;
        margin: 0;
        /* filter: var(--svgKleur); */
        fill: var(--primaireKleur);
    }
    

    header button {
        margin-left: auto;
        padding: 1em 0 1em 1em;
        background: none;
        border: none;
        text-decoration: underline;
    }
    
    header a{
        text-decoration: none;
        display: flex;
        gap: 10px;
        
    }
    /* HOMEPAGE */
    .home main h3 {
        padding: 3em 0;
    }

    /* Section voor de H1 en video  */
    .home section:first-of-type {
        position: relative;
    }

    .home section:first-of-type video {
        width: 35vw;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: var(--rondehoek);
    }

    .home main img {
        width: 50px;
    }

    .home main ul {
        display: flex;
        justify-content: flex-end;
        margin-top: 4em;
    }

    .home main ul li {
        text-decoration: none;
        list-style-type: none;


    }
    .home main ul li:first-child {
        margin-right: auto;
    }


    /* cards horizontal scroll */
    .home section:nth-of-type(1) {
        display: flex;
        padding: 1em 1em 1em 0;
        gap: 1em;
        overflow-x:scroll;
    }

    /* breakout grid proberen*/
    .home section:nth-of-type(1) article {
    
        padding: 0.5em;
        width: 70vw;
        height: 300px;
        border-radius: var(--rondehoek);
        flex: none;
    }

    .home section:nth-of-type(1) article h4 {
        font-size: 0.8em;
        font-family: var(--copy);
        padding: 0;
        margin: 0;
        color: var(--wit);
    }

    .home section:nth-of-type(1) article p {
        font-size: 0.9em;
        font-family: var(--monotyp);
        color: var(--wit);
    }
    
    .home section:nth-of-type(1) article img {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 80%;
    }

    .home section:nth-of-type(1) article:nth-child(1) {
        position: relative;
        background-image: url('content/goldenpillars.jpeg');
        background-size: cover;
    }

    .home section:nth-of-type(1) article:nth-child(2) {
        position: relative;
        background-image: url('content/gradient.jpeg');
        background-size: cover;
    }

    .home section:nth-of-type(1) article:nth-child(3) {
        position: relative;
        background-image: url('content/materials.jpeg');
        background-size: cover;
    }

 

    /* What we do */
    ul {
        list-style: none;
    }

    li {
        text-decoration: none;
    }

    .home section:nth-of-type(2) ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 0.7em;
        margin-bottom: 4em;
    }

    .home section:nth-of-type(2) ul li a {
        font-size: 2em;
        margin: 1em 0;
    }

    /* Technologies */
    .home section:nth-of-type(3) ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        margin-bottom: 5em;

    }

    .home section:nth-of-type(3) ul li {
        border: 0.002em solid var(--primaireKleur50);
        border-radius: var(--rondehoek);
        padding: 0.6em 1em;
        color: var(--primaireKleur);
        font-family: var(--monotyp)
    }

    /* Join the journey */
    .home section:nth-of-type(4) {
        margin-bottom: 3em;
    }

    .home section:nth-of-type(4) p:nth-of-type(1),
    .home section:nth-of-type(4) p:nth-of-type(2) {
        font-family: var(--monotyp);
        margin: 0.3em 0;
    }

    .home section:nth-of-type(4) h4 {
        margin-top: 6em;
    }

    .home section:nth-of-type(4) p:nth-child(8) {
        margin-top: 1em;
    }

    .home section:nth-of-type(5) img:nth-of-type(1) {
        width: 70vw;
        margin-left: -5vw;
    }
    .home section:nth-of-type(5) img:nth-of-type(2) {
        width: 40vw;
        margin-top: -20vw;
        margin-bottom: 4em;
    }
    /* footer */

    footer ul {
        display: flex;
        gap: 1em;
        margin-top: 3em;
    }

    footer a {
        color: var(--primaireKleur);
        display: flex;
        align-items: center;
        gap: 1em;
        font-family: var(--monotyp);
    }
    footer img {
        width: 25px !important;
        height: 25px;
        padding: 0.5em;
        border-radius: var(--rondehoek);
        background-color: #fffcf9;
    }

    footer ul:nth-of-type(2) {
        display: flex;
        justify-content: space-between;
        color: var(--primaireKleur);
    }

    /* Culture */ /* Culture */ /* Culture */
    /* Culture */ /* Culture */ /* Culture */
    /* Culture */ /* Culture */ /* Culture */

    .culture img,
    .culture video {
        width: 100vw;
        margin: 2em -1em;
    }
    
    .culture section:first-of-type{
        position: relative;
        padding: 9em 0 11em 0;
    }
    
    .culture section:first-of-type img{
        position: absolute;
        width: 25vw;
        top: 30vh;
        right:30vw;
    }
    .culture section:nth-of-type(3) div:first-of-type {
        position: relative;
        padding-bottom: 40vh;
    }
    .culture section:nth-of-type(3) div:first-of-type img{
        position:absolute;
        top: 5vh;
        left: 10vw;
        width: 70vw;
    }
    .culture section:nth-of-type(3) div:nth-of-type(2) {
        position: relative;
        margin: 5vh 0 4vh 0;
    }
    
    .culture section:nth-of-type(3) div:nth-of-type(2) img:nth-of-type(2){
        position:absolute;
        top: -5vh;
        right: 5vw;
        width: 70vw;
    }
    
/* personeel */ /* personeel */ /* personeel */
    .personeel {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two grid items next to each other */
        gap: 20px;
        padding: 0;
    }

    .persoon {
        position: relative;
        overflow: hidden;
        height: 200px;
        border-radius: 4px;
    }

    .personeel li img {
        width: 100%;
        margin: 0;

    }

    .tekst {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;

    }
    .tekst p,
    .tekst h5 {
        font-size: 0.7em;
        font-weight: 300;
        color: var(--wit);
        line-height: 1;
    }
    
    .tekst p{
    margin-top: 1em;
        font-family: monospace;
    }
    
    .culture section:nth-of-type(4) article{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: auto;
        border-bottom: 1px solid var(--primaireKleur);
        padding: .5em 0 .25em 0;
        
    }
    .culture section:nth-of-type(4) article h4{
    margin: 0;
    }

    
    .culture section:nth-of-type(4) article img{
        width: 5vw;
    }
    
    .culture section:nth-of-type(4) article div{
        width: 90%;
    }
    
    /* Fullscreen menu*/
    #menu-overlay {
        display: none; 
        justify-content: center;
        align-items: flex-start; 
        
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 91.9vh;
        
        backdrop-filter: blur(100px);
        z-index: 29;  
    }

/* CSS for the menu container */
#menu {
    list-style: none;
    padding-top: 2em;
    display: flex; 
    justify-content: space-between;
    flex-direction: column;
}

#menu li {
    margin-right: 20px; /* Adjust spacing between menu items */
}


#menu a {
    color: var(--primaireKleur);
    text-decoration: none;
    font-family: var(--display);
    text-transform: uppercase;
    font-size: 4em; 
    padding: 0;
    margin: 0;
}



/* loading animation */
.loader-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--secondaireKleur);
    z-index: 30;
    animation: 1 .5s linear 3s fade;
    animation-fill-mode: forwards;
}
.loader-wrapper h2{
    margin: 0;
    font-size: 2em;
    line-height: 1;

}
.hidden{
opacity:0;
}

.roteren{
    color: var(--primaireKleur);
}

.roteren:after{
    content: "";
    animation: tekst_veranderen 2s linear infinite;
    
}

@keyframes tekst_veranderen{
    0%{
        content: "E-commerce";
    }
    12.5%{
        content: "websites";
    }
    25%{
        content: "Visual identities";
    }
    37.5%{
        content: "Apps";
    }
    50%{
        content: "Proud moments";
    }
    62.5%{
        content: "Shopify plus";
    }
    75%{
        content: "strong brands";
    }
    87.5%{
        content: "Good coffee";
    }
    100%{
        content: "E-commerce";
    }
}
@keyframes fade{
    0%{
    opacity:1;
    z-index: 30;
    }
    100%{
    opacity:0;
    z-index: 0;
    }
}